
@model List<MvcAjaxErrorModal.ViewModels.Employee.EmployeeViewModel>

@{
    ViewBag.Title = "Employees List";
}

<h2>List of Employees</h2>

<ul>
    @foreach (var employee in Model)
    {
        <li>
            @employee.FirstName  @employee.Surname
        </li>
    }
</ul>
